<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/djangoapp/">Best Cars</a>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link active" aria-current="page" href="/djangoapp/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/djangoapp/about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
                            </li>
                        </ul>
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav  my-2 my-lg-0">
                            <li class="nav-item">
                                {{ user.first_name }}({{ user.username }}) <a class="btn btn-link"
                                    href="{% url 'djangoapp:logout' %}">Logout</a>
                            </li>
                        </ul>
                        {% else %}
                        <form action="{% url 'djangoapp:login' %}" method="post" class="form-inline my-2 my-lg-0">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="text" placeholder="username" aria-label="Username"
                                name="username">
                            <input class="form-control mr-sm-2" type="password" placeholder="password"
                                aria-label="Password" name="psw">
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
                            <a href="{% url 'djangoapp:registration' %}" class="btn btn-light my-2 my-sm-0">Sign Up</a>
                        </form>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div>
                    <h3>Add a review about {{dealer.full_name}}</h3>
                </div>
                <form action="{% url 'djangoapp:add_review' dealer.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="content">Enter the review content:</label>
                        <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" style="margin-left: 5px;" type="checkbox" name="purchasecheck" id="purchasecheck"> Has
                        purchased the car from {{dealer.full_name}}? (select purchased car information below if checked)
                    </div>
                    <div class="form-group">
                        <label for="car">Select your car (model-make-year)</label>
                        <select name="car" id="car" class="form-select" required>
                            {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.car_make.name}}-{{ car.year|date:"Y" }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="purchasedate">Select Your Purchase Date:</label>
                        <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                    </div>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>

</html>